body{
    font-family: "microsoft YaHei";
}
table{
    margin: 0 auto;
    width: 950px;
    border-collapse: collapse;
    font-size: 12px;
}
table tr td{
    border-bottom: 1px solid #ddd;
    height: 32px;
    line-height: 32px;
}
.first{
    font-size: 14px;
}
.odd{
    background-color: #f9f9f9;
}
.even{
    background-color: #f4f5f9;
}
.btn{
    color: #fff;
    height: 20px;
    line-height: 20px;
    background-color: #44b549;
    border:0;
    border-radius: 4px;
}
.btn:hover{
    background-color: green;
}
table tr:hover{
    background-color: white;
}